{
    "configurations": [
        {
            "name": "riscvgcc",
            "compilerPath": "{{compiler}}",
            "includePath": [
                "${workspaceRoot}",
                "${workspaceRoot}/**"
            ],
            "cStandard": "c11",
            "cppStandard": "c++17"
        }
    ],
    "version": 4
}
